@function calculateFontSize($step) {
	$baseFontSize: $fontSize;
	$newFontSize: $fontSize;

	@if ($step == 1) {
		$newFontSize: $baseFontSize * $ratio;
		@return $newFontSize;
	}

	@for $baseFontSize from 1 through $step {
		$newFontSize: $newFontSize * $ratio;
	}

	@return $newFontSize;
}

@function calculateLineHeight($fontSize) {
	$maxRatio: 1.9;
	$minRatio: 1.3;
	$ratio: $lineHeight / $fontSize;
	$increment: $lineHeight / 4;
	$newLineHeight: $lineHeight;

	@while $ratio < $minRatio {
		$newLineHeight: $newLineHeight + $increment;
		$ratio: $newLineHeight / $fontSize;
	}

	@while $ratio > $maxRatio {
		$newLineHeight: $newLineHeight - $increment;
		$ratio: $newLineHeight / $fontSize;
	}

	@return $newLineHeight;
}

