@mixin verticalRhythm($step: 1) {
	$modularFontSize: calculateFontSize($step);
	$modularLineHeight: calculateLineHeight($modularFontSize);

	font-size: $modularFontSize + rem;
	line-height: $modularLineHeight + rem;
	font-weight: bold;
}

@mixin from($breakpoint) {
	@media screen and (min-width: map-get($breakpoints, $breakpoint)) {
		@content;
	}
}

@mixin setGrid($columns) {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: repeat(#{$columns}, 1fr);
	direction: ltr;
}

@mixin setColumns($columns: 1) {
	@for $column from 1 through $columns {
		&-#{$column} {
			grid-column: span $column;
		}
	}
}

@mixin setRows($rows: 1) {
	@for $row from 1 through $rows {
		&-#{$row} {
			grid-row: span $row;
		}
	}
}
